<% content_for :page_title do %>
  <%= Spree.t('admin.listing_grades') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t('admin.new_grade'), new_admin_grade_path, icon: 'plus' %>
  </li>
<% end %>

<table class="grades_index_table" data-hook="winery_table">
  <thead>
    <tr data-hook="grades_header">
      <th><%= Spree.t('admin.quiz') %></th>
      <th><%= Spree.t('admin.title') %></th>
      <th><%= Spree.t('admin.description') %></th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
      <tr data-hook="grade_row_<%= grade.id %>">
        <td align="center" data-hook='quiz'><%= grade.quiz.title %></td>
        <td align="center" data-hook='title'><%= grade.title %></td>
        <td align="center" data-hook='description'><%== grade.description %></td>
        <td class="actions">
          <%= link_to_with_icon 'edit', Spree.t('actions.edit'), 
                edit_admin_grade_path(grade.id), no_text: true, data: { action: 'edit' } %>

          <%= link_to_delete grade, { url: admin_grade_url(grade.id), 
                no_text: true, id: "del_#{grade.id}" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
