<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Topics' } %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @topic } %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t('admin.back_to_topics_list'), admin_product_topics_url(@product), :icon => 'arrow-left' %></li>
<% end %>

<%= form_for [:admin, @product, @topic], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="edit_topic">
    <legend align="center"><%= @topic.image_file_name %></legend>
    <div data-hook="thumbnail" class="field alpha three columns align-center">
      <%= f.label Spree.t(:thumbnail) %><br>
      <%= link_to image_tag(@topic.image.url(:icon)), @topic.image.url(:icon) %>
    </div>
    <div class="nine columns omega">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>
    <div class="clear"></div>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= link_to Spree.t('actions.cancel'), admin_product_topics_url(@product), :id => 'cancel_link', :class => 'button remove' %>
    </div>
  </fieldset>
<% end %>
