<% content_for :page_title do %>
  <%= Spree.t('admin.new_winery') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t('admin.back_to_wineries_list'), spree.admin_wineries_path, :icon => 'arrow-left' %>
  </li>
<% end %>

<div data-hook="admin_winery_new_form_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @winery } %>
</div>

<div data-hook="admin_winery_new_form">
  <%= form_for [:admin, @winery], url: admin_wineries_url, method: :post do |f| %>
    <fieldset data-hook="new_winery">
      <legend align="center"><%= Spree.t('admin.new_winery') %></legend>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </fieldset>
  <% end %>
</div>
