<% content_for :page_title do %>
  <%= Spree.t('admin.blog_entry.update') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t('admin.blog_entry.back_to_list'), spree.admin_blog_entries_path, :icon => 'arrow-left' %>
  </li>
<% end %>

<div data-hook="admin_blog_entries_new_form_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @blog_entry } %>
</div>

<div data-hook="admin_blog_entry_new_form">
  <%= form_for [:admin, @blog_entry], url: admin_blog_entry_path(@blog_entry.id), method: :put do |f| %>
    <fieldset data-hook="update_blog_entry">
      <legend align="center"><%= Spree.t('admin.blog_entry.update') %></legend>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </fieldset>
  <% end %>
</div>
