<fieldset data-hook="manage_variants">
  <legend>Variants type: "Choose right one"</legend>
  <p>After data updating, please, submit this form!</p>

  <table class="index question_variants_sortable">
    <thead data-hook="question_header">
      <tr>
        <th><%= Spree.t('admin.handle') %></th>
        <th><%= Spree.t('admin.right_variant') %></th>
        <th><%= Spree.t('admin.title') %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody id="question_variants">

      <% 
        if !f.object.v_choose_one? || f.object.variants_type.blank? ||
           (f.object.v_choose_one? && f.object.variants.blank?)

          f.object.variants = [{ title: '', right: false }]
        end
      %>
      <% f.object.variants.each_with_index do |variant, index| %>
        <%= f.fields_for :variants, OpenStruct.new(variant), index: index do |qv_form| %>
          <tr class="question_variant fields" data-hook="question_variant" class="<%= cycle('odd', 'even')%>">
            <td><span class="handle"></span></td>

            <td class="right_variant text_to_center">
              <%= qv_form.radio_button :right, true, { checked: qv_form.object.right.present? } %>
            </td>

            <td class="title">
              <%= qv_form.text_field :title %>
            </td>

            <td class="actions">
              <%= link_to '', 'javascript:;', class: 'remove_question_variant fa fa-trash icon_link no-text' %>
            </td>
          </tr>
        <% end %>
      <% end %>

    </tbody>
  </table>
  <span id="new_add_question_variant" data-hook>
    <%= link_to_add_fields Spree.t('admin.add_question_variant'),
                           'tbody#question_variants',
                           class: 'button fa fa-plus' %>
  </span>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
</fieldset>
