<% store_url = Spree::Store.first.url %>

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 0; height: 100%; background: #ffffff;">
<tbody>
  <tr>
    <td height="100%" align="center" valign="top" style="padding-top: 20px; padding-bottom: 20px;">
      <center style="max-width: 640px; width: 100%;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="1px;">
        <tbody>
          <tr>
            <td>
              <p style="color: #ffffff; font-size: 1px;"><%= t('mails.order_confirmation') %></p>
            </td>
          </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 0px; background: #ffffff;">
        <tbody>
          <tr>
            <td style="padding: 20px;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 0px; border: 1px solid #f6af41">
              <tbody>
                <tr>
                  <td style="padding: 8px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 0px; border: 1px solid #f6af41">
                    <tbody>
                      <tr>
                        <td style="padding: 10px 20px 5px 20px; color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 16px;">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 0px;">
                          <tbody>
                            <tr>
                              <td>
                                <center>
                                  <%= link_to image_tag(image_url('mails/logo.jpg'),
                                        width: 200,
                                        height: 92,
                                        border: 0,
                                        style: 'display: block; float: none;'), store_url %>
                                </center>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding: 20px 0; line-height: 1.4; font-size: 14px;">
                                <center>
                                  <p style="font-size: 20px; text-align: center;">
                                    <%= "#{t('mails.dear')} Customer," %>
                                  </p>

                                  <p style="text-align: center;"><%= t('mails.your_order_has_been_shipped') %>!</p>

                                  <br />

                                  <table border="0"
                                         cellspacing="0"
                                         cellpadding="0"
                                         width="100%"
                                         style="font-size: 11px;">
                                    <tbody>
                                      <% @manifest.each do |item| %>
                                        <% variant = item.variant -%>
                                          <tr>
                                            <td valign="middle"
                                                style="padding: 10px 5px; border-top: 1px solid #eeeeee; font-size: 11px;">

                                              <% if variant.images.length == 0 %>
                                                <%= image_tag(variant.product.display_image.attachment(:small),
                                                  style: 'margin: 0 auto; display: block; max-width: 100px; min-width: 50px;') %>
                                              <% else %>
                                                <%= image_tag(variant.images.first.attachment.url(:small),
                                                  style: 'margin: 0 auto; display: block; max-width: 100px; min-width: 50px;') %>
                                              <% end %>

                                              <p style="font-size: 10px; margin: 0; padding: 10px 0;">
                                                <%= item.variant.date_option %>
                                              </p>
                                            </td>

                                            <td valign="middle"
                                                style="padding: 10px 5px;border-top: 1px solid #eeeeee;font-size: 11px;text-align: center;">

                                              <%= variant.product.name %>
                                            </td>

                                            <td valign="middle"
                                                style="padding: 10px 5px;border-top: 1px solid #eeeeee;font-size: 11px;text-align: center;">

                                              <%= item.variant.options_text %>
                                            </td>
                                          </tr>

                                      <% end %>

                                    </tbody>
                                  </table>

                                  <br /><br />

                                  <p style="text-align: center;"><%= t('mails.scarpa_support') %></p>
                                </center>
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <center style="text-align: center;">
                                  <%= image_tag(image_url('mails/bottom_img.jpg'),
                                        width: '250',
                                        height: '62',
                                        style: 'display: block; max-width: 250px; width: 100%; float: none; margin: 0 auto;',
                                        border: '0'
                                      ) %>
                                </center>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </center>
    </td>
  </tr>
  </tbody>
</table>
